
table.header {
  width : 100%;
  padding : .3em;
  background: #ccddff;
}

img {
}

h2 {
  font-size : 18pt;
  font-style : normal;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0;
}

div.r {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.r code {
  color : #333333;
  font-family : monospace;
  font-size : x-small;
}

div.r.div {
  font-size : smaller;
}

