<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Instantiates the resource.  The resource will have its
     - setValue called for the value parameter.
     -
     - The resource will have its start(ctx) method called when
     - the web-app starts and the stop() method called when the
     - web-app stops.
    -->
  <resource jndi-name="jca/test" type="test.TestResource">
    <init>
      <value>Tutorial Example</value>
    </init>
  </resource>
</web-app>
