<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Instantiates the resource.  The resource will have its
     - setValue called for the value parameter and the init()
     - method called after the configuration completes.
    -->
  <resource jndi-name="test/basic" type="test.TestResource">
    <init>
      <value>Tutorial Example</value>
    </init>
  </resource>
</web-app>
