<beans xmlns="http://java.sun.com/xml/ns/javaee">
  <!--
     - META-INF/beans.xml is used as a marker to tell Resin to scan all
     - classes in the directory tree for Java Injection beans.  The matching
     - beans will be available for injection using @javax.inject.Current
     -
     - Simply place this file in a META-INF directory under your classes
     - directory or in your jar file.
    -->
</beans>

