<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Instantiates the resource.
     -
     - The CronResource will execute example.WorkTask every 5 minutes.
    -->
  <resource type="com.caucho.resources.CronResource">
    <init>
      <cron>*/5</cron>
      <work resin:type="example.WorkTask">
        <value>Example</value>
        <jndi>java:comp/env/example</jndi>
      </work>
    </init>
  </resource>
</web-app>
