<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - configuration for the JNDI server.
    -->
  <ejb-server jndi-name="java:comp/env/ejb"
              data-source="jdbc/resin" create-database-schema="true">
    <bean type="example.Course"/>
    <bean type="example.SwapBean"/>
  </ejb-server>

  <!--
     - configuration for the client.
    -->
  <servlet servlet-name="xa" servlet-class="example.SwapServlet"/>
  <servlet-mapping url-pattern="/xa" servlet-name="xa"/>
</web-app>
