<web-app>
  <!-- log everything from the example.filters.* classes -->
  <log name='example.filters' level='all' path='stderr:'/>

  <filter>
    <filter-name>exampleResponseHeaders</filter-name>
    <filter-class>example.filters.ExampleResponseHeadersFilter</filter-class>

    <init-param>
      <param-name>my-param</param-name>
      <param-value>Hello, World</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>exampleResponseHeaders</filter-name>
    <!-- /* maps to all url's in the web app -->
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
