<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Configures the resource.  The service will have its
     - setValue called for the value parameter.
    -->
  <test:TestResource xmlns:test="urn:java:test">
    <Named/>
    
    <test:value>Tutorial Example</test:value>
  </test:TestResource>

  <!--
     - Configures the sample servlet
    -->
  <servlet-mapping url-pattern="/test" servlet-class="test.TestServlet"/>
</web-app>
