<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Instantiates the resource.  The resource will have its
     - setData called for the value parameter.
     -
     - The resource will be registered with JMX with the test:type=Basic
     - name.
    -->
  <resource mbean-name="example:name=test"
            type="example.Test"
            mbean-interface="example.TestAdmin">
    <init>
      <data>Tutorial Example</data>
    </init>
  </resource>
</web-app>
